@media only screen and (min-width: 768px) {
  
  /* header styles */

  .header {
    background: unset;
    height: 100%;
    padding: 2rem 0;
    display: flex;
  }

  .header a {
    color: #fff;
    display: block;
  }

  .header .logo-white,
  .header .social-media {
    display: block;
  }

  .header .logo-white {
    flex: 0 0 30%;
    max-width: 250px;
    margin: 0 auto;
  }

  .header .logo-white img {
    display: block;
  }

  .header .phone {
    flex: 0 0 35%;
    display: inline-flex;
    align-items: center;
    padding-left: 1rem;  
  }

  .header .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 35%;
    padding-right: 1rem;
  }

  .header .social-media a {
    margin-left: 1rem;
  }

  .logo-colored {
    display: none;
  }


  .hamburger {
    display: none;
  }


  /* menu styles */

  .main-nav .container {
    padding: 0 1rem;
  }

  .menu {
    position: unset;
    display: flex;
    max-width: 1200px;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }

  .menu a {
    padding: 1rem 2rem;
    border: none;
  }

  /* intro styles */

  .intro {
    padding: 1rem;
  }

  .intro p {
    max-width: 1000px;
    margin: 0 auto 1rem;
  }


  /* inclusions styles */

  .inclusions .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .inclusions .col-1,
  .inclusions .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  /* why choose us */

  .why-choose .flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .why-choose .col-container {
    flex: 0 0 47%;
    padding: 1rem 0;
  }


  /* newsletter */

  .newsletter {
    text-align: left;
    max-height: 330px;
  }

  .newsletter .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
  }

  .newsletter .content {
    flex: 0 0 30%;
  }

  .newsletter input {
    flex: 0 0 40%;
  }
  
  .newsletter button {
    flex: 0 0 20%;
  }

  .newsletter input {
    text-align: left;
  }

  
  /* instructors */

  .instructors .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  
  
  /* footer */

 
  footer .flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .sub-footer .col-1 {
    flex: 0 0 30%;
  }
  .sub-footer .col-2,
  .sub-footer .col-3  {
    flex: 0 0 25%;
  }

  .sub-footer .col-2 .col-container {
    justify-content: flex-start;
  }

}


@media only screen and (min-width: 1024px) {

  .inclusions {
    background: url(../img/Features-BG.jpg) no-repeat center/cover;
  }

  .inclusions .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .inclusions .col-1,
  .inclusions .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 35%;
    height: 450px;
    padding: 2rem 0 1rem;
  }

  .inclusions .col-1 {
    text-align: right;
  }

  .inclusions .col-2 {
    text-align: left;
  }

  .inclusions .row-left,
  .inclusions .row-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inclusions .row-left{
    flex-direction: row-reverse;
  }

  .row-left .content,
  .row-right .content {
    flex: 0 0 65%;
  }


  .instructors .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}