@media only screen and (min-width: 768px) {
  .header {
    background: unset;
    height: 100%;
    padding: 2rem 0;
    display: flex;
  }

  .header a {
    color: #fff;
    display: block;
  }

  .header .logo-white,
  .header .social-media {
    display: block;
  }

  .header .logo-white {
    flex: 0 0 30%;
    max-width: 250px;
    margin: 0 auto;
  }

  .header .logo-white img {
    display: block;
  }

  .header .phone {
    flex: 0 0 35%;
    display: inline-flex;
    align-items: center;
    padding-left: 1rem;  
  }

  .header .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 35%;
    padding-right: 1rem;
  }

  .header .social-media a {
    margin-left: 1rem;
  }

  .logo-colored {
    display: none;
  }


  .hamburger {
    display: none;
  }

@media only screen and (min-width: 1024px) {

}