/* Web Fonts ---------------------*/

@font-face {
font-family: 'Helvetica Neue LT Std 57 Condensed';
font-style: normal;
font-weight: normal;
src: url(../fonts/HelveticaNeueLTStd-Cn.woff) format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 56 Italic';
font-style: normal;
font-weight: normal;
src: url(../fonts/HelveticaNeueLTStd-It.woff) format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 47 Light Condensed';
font-style: normal;
font-weight: normal;
src: url(../fonts/HelveticaNeueLTStd-LtCn.woff) format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 45 Light';
font-style: normal;
font-weight: normal;
src: url(../fonts/HelveticaNeueLTStd Lt.woff) format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
font-style: normal;
font-weight: normal;
src: url(../fonts/HelveticaNeueLTStd-BdCn.woff) format('woff');
}

/* base-style ---------------------*/

* {
	box-sizing: border-box;
}

body {
	color: #25282e;
	margin: 0;
	font: 16px/1.5 'Helvetica Neue LT Std 45 Light', Arial, sans-serif;

}

header {
	background: url('../images/Banner-BG-image.jpg') no-repeat center;
	background-size: cover; 
	text-align: center;
	margin: 0 auto;
	height: 1100px;
}

h1 {
	margin: 40px 0 0 0;
	font-family: 'Helvetica Neue LT Std 57 Condensed', Arial, sans-serif; 
	font-size: 3.5em;
	letter-spacing: 2.5px;
}

h2 {
	font-family: 'Helvetica Neue LT Std 45 Light', Arial, sans-serif;
	margin: 60px 0 30px 0;
	font-size: 2em;
	text-align: center;	
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

h3 {
	margin: 0;
}

form {
	display: inline-block;
}

footer {
	background-color: #2a333f;
	color: white;
	padding-top: 30px;
}

footer a {
	color: white;
	text-decoration: none;
}



/* class-style ---------------------*/

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.logo{
	padding: 45px 0 45px 0;
}

.main-nav {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	width: 1200px;
	margin: 0 auto;
}

.main-nav li {
	display: inline-block;
}

.main-nav a {
	text-decoration: none;
	color: #ffffff;
	margin: 20px 30px;
}

.main-nav a:hover,
.main-nav a:active {
	color: #f8ea49;
}

.banner-content {
	color: white;
}

.banner-content p {
	margin: 0;
	font-size: 1.25em;
}

.arrow {
	width: 50px;
	margin-top: 610px;
}

.intro {
	text-align: center;
	margin: 70px 0;
}

.intro a{
	font-weight: bold;
	color: #058aab;
}

.inclusions {
	background: url('../images/Features-BG.jpg') no-repeat center;
	background-size: cover; 
}

.inclusions-col-1,
.inclusions-col-2 {
	width: 350px;
	padding: 30px 0;
}

.inclusions-col-1 {	
	float: left;
	text-align: right;
	margin-left: 40px;
}

.inclusions-col-2 {
	float: right;
	text-align: left;
	margin-right: 40px;
}

.inclusions-left,
.inclusions-right {
	margin: 50px 0 60px 0;
}

.inclusions-left h3,
.inclusions-left p {
	width: 70%;
}

.equipment {
	background: url('../images/best-equipment-icon.png') no-repeat right top;
}

.places {
	background: url('../images/exciting-places-icon.png') no-repeat right top;
}

.inclusions-right h3,
.inclusions-right p {
	width: 70%;
	margin-left: 30%;
}

.safety {
	background: url('../images/100-safety-icon.png') no-repeat left top;
}

.instructors {
	background: url('../images/instructors-icon.png') no-repeat left top;
}

.choose-col-1 {
	float: left;
	width: 500px;
	margin: 0 0 70px 50px; 
}

.choose-col-2 {
	float: right;
	width: 500px;
	margin: 0 50px 70px 0;
}

.newsletter {
	background: url('../images/Newsletter-BG.jpg') no-repeat center;
	background-size: cover; 
	color: white;
	padding: 60px 0 100px 0;
}

.newsletter h3 {
	font-size: 3em;
	margin-bottom: 0;
}

.newsletter p {
	margin-top: 0;
}

.newsletter-col-1 {
	float: left;
	width: 300px;
	margin-left: 50px;
	padding-top: 50px;
}

.newsletter-col-2 {
	float: right;
	width: 700px;
	margin-right: 50px;
	padding-top: 80px;
}

#newsletter {
	width: 500px;
	height: 50px;
	background: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid white;
	color: white;
	text-align: center;
	font-size: 1em;
}

::placeholder {
	color: white;
}

#submit {
	background-color: #f8ea49;
	border: none;
	color: black;
	height: 50px;
	width: 150px;
	border-radius: 5px;
	margin-left: 30px;
	font-family: 'Helvetica Neue LT Std 45 Light', Arial, sans-serif;
	font-size: .8em;
	font-weight: bold;
}

.instructors-col-1,
.instructors-col-2,
.instructors-col-3,
.instructors-col-4 {
	float: left;
	width: 270px;
	text-align: center; 
	margin-bottom: 70px;
}

.instructors-col-1 {
	margin-right: 30px;
	margin-left: 15px;
}

.instructors-col-2 {
	margin-right: 15px;
}

.instructors-col-3 {
	margin-left: 15px;
}

.instructors-col-4 {
	margin-left: 30px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
	margin-right: 40px;
}

.footer-col-1 {
	float: left;
	width: 30%;
	padding-right: 40px;
}

.footer-col-2 {
	float: left;
	width: 30%;
}

.footer-col-3 {
	float: left;
	width: 30%;
}

.footer-col-3 div {
	padding-left: 30px;
	margin-bottom: 15px;
}

.address {
	background: url(../images/Location.svg) no-repeat left top;
	background-size: 20px 20px;
}

.phone-number {
	background: url(../images/Phone.svg) no-repeat left top;
	background-size: 20px 20px;
}

.email {
	background: url(../images/Email.svg) no-repeat left top;
	background-size: 20px 20px;
}

.quick {
	float: left;
	width: 50%;
	margin: 0;
}

footer .container {
	padding-bottom: 50px;
	border-bottom: 1px solid #979797;
}

.copy {
	color: #979797;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
	font-size: 0.8em;
}

/* clearfix ---------------------*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
