/* variables */

:root {
	--primary-color: #1b5577;
	--secondary-color: #f8ea49;
	--tertiary-color: #2fafe5;
	--bg-color-light: #eff2f7;
}


/* main styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	line-height: 1.7;
	color: #333;
}

h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	line-height: 1.4;
}


/* utilities */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.pad-1 {
	padding: 1rem;
}

.pad-2 {
	padding: 1.5rem;
}

.btn-primary {
	background: var(--secondary-color);
	color: #333;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
}

.heading-1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.heading-2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.bg-dark {
	background: var(--primary-color);
	color: #fff;
}

.bg-light {
	background: var(--bg-color-light);
}

/* header styles*/

header {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
							url(../img/Banner-BG-image.jpg) no-repeat center/cover;
	height: 100vh;
	color: #fff;
}

.header {
  background: #fff;
  width: 100%;
  height: 65px;
}

.logo-colored {
	position: absolute;
	top: 1rem;
	left: 0.5rem;
	width: 200px;
}

.logo-white,
.phone,
.social-media {
	display: none;
}

/* hamburger styles */

#toggler {
	position: absolute;
	top: 0.75rem;
	right: 0.5rem;
  height: 50px;
	width: 50px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.hamburger {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 1;
	width: 40px;
	height: 50px;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hamburger div {
	position: relative;
	flex: none;
	height: 2px;
	width: 100%;
	background: var(--primary-color);
	transition: all 0.4s ease-in-out;
}

.hamburger div:before,
.hamburger div:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background: var(--primary-color);
	top: -10px;
}

.hamburger div:after {
	top: 10px;
}


/* hamburger animation */

#toggler:checked ~ .hamburger div {
	transform: rotate(135deg);
}

#toggler:checked ~ .hamburger div:before,
#toggler:checked ~ .hamburger div:after {
	top: 0;
	transform: rotate(90deg);
} 


/* menu styles */

.menu {
  position: absolute;
  top: 65px;
  left: 100%;
  background: var(--primary-color);
  width: 100%;
  height: calc(100vh - 75px);
  text-align: center;
	transition: all 0.5s ease;
	z-index: 1;
}

.menu a {
  color: #fff;
	text-transform: uppercase;
	display: block;
	padding: 2rem;
	border-bottom: 1px dotted #216789;
}

#active {
	color: var(--secondary-color);
}

.menu a:hover {
  color: var(--secondary-color);
  transition: 0.3s ease;
}

#toggler:checked ~ .menu {
  left: 0;
}


/* banner styles */

.banner-content {
	flex-direction: column;
	justify-content: start;
	align-items: center;
	text-align: center;
	height: calc(100vh - 65px);
	padding: 3rem 1rem;
}

.banner-content h1 {
	font-size: 4rem;
	line-height: 4.5rem;
	margin-bottom: 2rem;
}

.banner-content p {
	font-size: 1.25rem;
}

.banner-content img {
	width: 50px;
	position: absolute;
	bottom: 10px;
	display: block;
}


/* intro styles */

.intro {
	text-align: center;
}

.intro p {
	line-height: 1.5;
	margin-bottom: 2rem;
}

.intro a {
	color: var(--tertiary-color);
	font-weight: bold;
}


/* inclusions styles */

.inclusions {
	text-align: center;
}

.inclusions .flex {
	flex-direction: column;
}

.inc-icon-1,
.inc-icon-2,
.inc-icon-3,
.inc-icon-4 {
	width: 77px;
	height: 79px;
	margin: 1rem auto;
}

.inc-icon-1 {
	background: url(../img/best-equipment-icon.png) no-repeat center;
}

.inc-icon-2 {
	background: url(../img/exciting-places-icon.png) no-repeat center;
}

.inc-icon-3 {
	background: url(../img/100-safety-icon.png) no-repeat center;
}

.inc-icon-4 {
	background: url(../img/instructors-icon.png) no-repeat center;
}

.inclusions .row-left,
.inclusions .row-right {
	margin-bottom: 2rem;
}


/* why choose us styles*/

.why-choose .flex {
	flex-direction: column;
}

.why-choose h2 {
	text-align: center;
}

.img-container {
	background: #fff;
	padding: 1rem;
	border: 1px solid #d8d8d8;
	margin-bottom: 1rem;
}

.why-choose img {
	width: 100%;
	display: block;
}

.why-choose h2,
.why-choose p,
.why-choose ul {
	margin-bottom: 1rem;	
}

.why-choose li {
	list-style: inside;
}

.why-choose .col-container {
	margin-bottom: 1rem;
}


/* newsletter styles */

.newsletter {
	background: url(../img/Newsletter-BG.jpg) no-repeat center/cover;
}

.newsletter {
	color: #fff;
	text-align: center;
}

.newsletter .flex {
	flex-direction: column;
}

.newsletter p,
.newsletter input {
	margin-bottom: 1rem;
}

.newsletter h2 {
	font-size: 4rem;
	line-height: 1;
}

.newsletter input {
	display: block;
	width: 100%;
	padding: 1.5rem;
	font-size: 1rem;
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	text-align: center;
}

::placeholder {
	color: #fff;
}

input[type=text]:focus {
	border: 1px solid var(--tertiary-color);
}

button {
	padding: 1.5rem;
	align-self: center;
}


/* instructors styles */

.instructors .container {
	display: grid;
}

.instructors {
	text-align: center;
}

.instructors img {
	max-width: 90%;
	margin-bottom: 0.75rem;
}

.instructors p {
	margin-bottom: 2rem;
}


/* sub-footer styles */

footer .flex {
	flex-direction: column;
}

footer .col-1,
footer .col-2,
footer .col-3 {
	padding: 1rem 0;
} 

.sub-footer .col-1 p {
	line-height: 1.5;
	margin-bottom: 1rem;
}

.sub-footer .social-media {
	display: flex;
}

.sub-footer a {
	color: #fff;
}

.sub-footer ul {
	margin-right: 2rem;
}

.sub-footer ul li {
	padding: 0.5rem 0;
	border-bottom: 1px dotted #216789;
}

.info .row-container {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
}


.info i {
	margin-right: 0.75rem;
}


/* main-footer */

.main-footer {
	background: #333;
	text-align: center;
}